.container{
    padding-left:25%;
    padding-right: 25%;
}
.header{
  position: relative;
  height:30vh;
  /*background-image: linear-gradient(to right top, #7f8183, #6d7071, #5c5f5f, #4d4f4e, #3e3f3d);*/
  background-color: #565656;
}

.avatar{

    position:absolute;
    top:10%;
    left:43%;
    vertical-align:middle;
    width:100px;
    height:100px;
    border-radius: 50%;
    z-index:10;
}

.dots{
position:absolute;
left:41.7%;
top:5.3%;
border: 3px dotted #ddc061;
padding: 56px;
border-radius: 60%;
display: inline-block;
z-index: 1;
}  

.stripe{
    
    position:absolute;
    width:100%;
    top:67%;
    height:18%;
    background-color: #eeeeee;
    z-index:2134;
}

.nameHolder{

    position:absolute;
    top:55%;
    border-radius: 5px;
    left:26%;
    height:38%;
    width:50%;
    z-index:532453;
    background-color: #fabe28;
}

.name{

margin-top: 5%;
margin-left:2%;
padding:0.5%;
font-family: sans-serif;
font-weight: 700;
font-size: 240%  ;

}

.contact-bar{
 height: 5vh;
 background-color:#ffffff;
 display:block;

}

.contact-details{
padding:1%;
font-family: arial;
font-size: 0.7em;
text-align: center;
color: #4f4f4f;
}

.main-content{

height:85vh;
background-color: #ffffff;
position:relative;

}

.left-box{

position: absolute;
background-color: white;
width:50%;
height:fit-content;

}

.right-box{

    position: absolute;
    background-color: white;
    
    width:50%;
    left:50%;
    height:fit-content;
    border-left: 3px solid rgb(79, 79, 80);
}

.info-block{

 
 background-color:white;
 margin:7%;
 width:85%;
 height:fit-content;
}

.title-bar{

    position:relative;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:0%;
    padding-top:2%;
    padding-bottom:2%;
    padding-left:1.5%;
    width:82%;
    height:40px;
    background-color: snow;
}

.icon{
    position: absolute; 
    top:25%;
     


}

.icon-decoration{
    position: absolute;
    border-radius: 50%;
    border:2px dotted yellow;
    top:8px;
    left:-1px;
    padding:0px;
    width:2.3em;
    height:2.3em;
}

.title{
    position:absolute;
    left:19%;
    font-size: 1.3em;
    font-family: Arial;
    top:34%;
}

.content{

margin-top: 3%;
overflow-wrap: break-word;
font-family: Arial;

}

.sub-heading{    
    margin-top:7%;
    padding-top:2%;
    text-align: center;
}

.skill-chart{

    position: relative;
}

.slider-labels{
    margin-left:0%;
    width:40%;
    background-color: white;
    margin-top:2%;
    

}

.slider-label{

font-family:arial;
font-size: 0.9em;
margin-top:1%;
margin-bottom:2%;
word-wrap: none;
}

.sliders{

    position: absolute;
    top:-6%;
    width:58%;
    margin-left:40%;
    margin-right:2%;
    margin-top:2%;
    background-color: white;
    margin-bottom: 5%;

}

.slider {

    border: 1px solid black;
    margin-top: 0%;
    margin-right: 8%;
    margin-left: 10%;
    margin-bottom: 0%;
    
}

.job-title{
text-align: left;
font-size: smaller;

}

/*background-image: linear-gradient(to right top, #eac24c, #eccc67, #efd682, #f2e09b, #f5e9b5);*/